<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img
        src="cid:logo" 
        alt="miniTiket Logo" 
        style=  "width: 30%; display: block; 
                margin: auto; height: 30%;"
    >
    <div style="padding: 15px 10px;">
        <h2 style="text-align: center; color: #023047;">
            Password Reset
        </h2>
    </div>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; }
        p { margin-top: 8px; margin-bottom: 8px; text-align: justify }
        .container { max-width: 600px; margin: 0 auto; padding: 15px; }
    </style>
</head>
<body>
    <div class ="container">
        <h3>Password Reset Request</h3>
        <p>
            You requested to reset your password. 
            Click the link below to proceed:
        </p>
        
        <a href="{{resetLink}}">
            <button style="
                background-color: #8ECAE6; 
                color: #023047; 
                padding: 5px 15px; 
                text-align: center; 
                text-decoration: none; 
                display: inline-block; 
                font-size: 16px; 
                margin: 5px 2px; 
                cursor: pointer;
                border-radius: 8px;"
                > Reset Password
            </button>
        </a>

        <div>
            <p>This link will expire in 1 hour.</p>
            <p>If you didn't request this, please ignore this email.</p>
        </div>
        
        <div>
            <p>Have a great day</p>
            <p>Best regards,</p>
            <p>TuneInLive Team</p>
        </div>
    </div>
</body>
</html>